* {
  box-sizing: border-box;
}

.App .content {
  width: 600px;
  margin: auto;
}

.App .header {
  width: 100%;
  background-color: #4CAF50;
  text-align: center;
  font-size: larger;
  padding: 5px;
}

form label {
  width: 100%;
  position: relative;
}
form div {
  padding: 5px;
}

form label input {
  width: 50%;
  float: right;
  clear: both;
}

.alert {
  /* padding: 20px; */
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.alert.success {
  background-color: #4CAF50
}

textarea {
  width: 100%;
  min-height: 160px;

}
